<header>
  <div class="header__container">
      <div class="header__block">
          <a class="brand" href="index.html">
              <img src="../../images/logo-main.svg" alt="Логотип компании" class="brand__logo">
              <img src="/images/logo-main.svg" alt="Логотип компании" class="brand__logo">
              <img src="images/logo-main.svg" alt="Логотип компании" class="brand__logo">
          </a>
      </div>
      <div class="header__block">
          <nav class="site-nav">
              <a class="site-nav__link" href="index.html">Проекты</a>
              <a class="site-nav__link" href="about.html">Реализованные проекты</a>
              <a class="site-nav__link" href="catalog.html">Ипотека</a>
              <a class="site-nav__link" href="contact.html">О компании</a>
            </nav>
      </div>
      <div class="header__block">
          <div class="header__icons">
              <button class="btn btn--icon btn--filled" aria-label="Telegram">
                  <img src="../../icons/icon-telegram-1.svg" alt="Телеграм" class="telegram">
              </button>
              <button class="btn btn--pill btn--filled btn-text">
                  <img src="../../icons/icon-phone-small.svg" alt="Телеграм" class="telegram">
                  <span class="btn__label">+7 (999) 98-98-09</span>
                </button>
          </div>
      </div>
  </div>
</header>